<div id="app-container" class="container-fluid">
	<div id="top-banner" class="row">
		<div class="profile col-sm-1">
			<img id="profilepic" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAeVAAAAJGIxZjk2YjE3LTdiOTQtNDI2NC1hZDg3LWVkZDE4ZTFiMjE4OQ.jpg" />
		</div>
		<div class="col-sm-9">
			<h1 id="title">C h a r l i e . T r a n</h1>
			<h3 id="subtitle">Software Engineer</h3>		
		</div>
	</div>
	<div id="app-body" class="">
		<div id="navbar" class="sidenav col-sm-3 {{if isOpen 'open'}}" {{action "toggleBar" on="mouseEnter"}} {{action "toggleBar" on="mouseLeave"}}>
			{{#link-to 'portfolio' class='nav-button'}}Portfolio{{/link-to}}
			{{#link-to 'interests' class='nav-button'}}Interests{{/link-to}}
		</div>

		<div id="main" class="{{if isOpen 'col-sm-9 pushed' 'col-sm-9 notpushed'}}">
			{{outlet}}
		</div>
	</div>
</div>