<div id="app-container" class="container-fluid" style="padding-left: 0; padding: right: 0">
	<div id="top-banner" class="row">
		<div class="profile col-xs-2 col-sm-2">
			<img id="profilepic" src="/assets/images/Profile.jpg" />
		</div>
		<div class="col-xs-9 col-sm-9">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h1 id="title">C h a r l i e . T r a n</h1>
					<h3 id="subtitle">Software Engineer</h3>			
				</div>
				<div class="col-xs-3 col-sm-3">
					<a href="https://www.linkedin.com/in/charlie-tran">
						<i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i>
					</a>
					<a href="https://github.com/cptran777">
						<i class="fa fa-github-square fa-5x" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="app-body" class="row">
		<div id="navbar" class="sidenav {{if isOpen 'col-xs-2 col-sm-2' 'col-xs-1 col-sm-1'}}" {{action "toggleBarOn" on="mouseEnter"}} {{action "toggleBarOff" on="mouseLeave"}} {{action "toggleBar" on="click"}}>
			{{#link-to 'index' class='nav-button'}}Home{{/link-to}}
			{{#link-to 'portfolio' class='nav-button'}}Portfolio{{/link-to}}
			{{#link-to 'interests' class='nav-button'}}Interests{{/link-to}}
		</div>

		<div id="main" class="{{if isOpen 'col-xs-10 col-sm-10' 'col-xs-11 col-sm-11'}}">
			{{outlet}}
		</div>
	</div>
</div>